.logo{
    margin-top: 47px;
    float: left;
}

.header-text{
    float: left;
    margin-top: 47px;
    font-size: 13px;
    color: #7F7F7F;
    font-family: 'PTSerifRegular';
    text-transform: uppercase;
    width: 647px;
    margin-left: 55px;
    line-height: 150%;
}
.side-title, h1{
    font-family: 'CompactBold';
    color: #474444;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    line-height: 25px;
}
.side-title-main{
    margin-top: 85px;
}
.header-big-photo {
    width: 674px;
    height: 407px;
    margin-top: 11px;
    position: relative;
}
#caruselOtherPages li {
    float: left;
    height: 407px;
    width: 674px;
    display: block;
    position: relative;
}
.pagination {
    text-align: right;
}
.pagination a {
    background: url(/images/design/pagination.png) no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected {
    background-position: -21px 0px;
    cursor: default;
}
.pagination a span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}
.contact-main{
    display: inline-block;
    width: 297px;
    vertical-align: middle;
    height: 58px;
    line-height: 58px;
    padding-left: 35px;
    color: #7f7f7f;
}
.devider{
    height: 2px;
    background: url("/images/design/devider.jpg") repeat-x bottom;
    margin-top: 15px;
    margin-bottom: 15px;
}
.side-email{
    color: #e25e1d;
    margin-bottom: 138px;
}
.foto-gallery-side-title{
    margin-top: 40px;
}
.side-gall{
    margin-left: 25px;
    margin-top: 5px;
}
.zoom{
    position: absolute !important;
    bottom: -3px !important;
    right: -7px !important;
}
.image-thumb, .user-text img,#ymaps-map-container{
    padding: 4px;
    background-color: white;
    display: inline-block;
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
    border-radius: 6px;
    position: relative;
}
#ymaps-map-container{
    width: 288px !important;
    height: 280px !important;
    margin-left: 30px;
}
.mapBox a{
    display: none;
}
.image-thumb img{
    display: block;
}

.user-text img{
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn{
    background: url("/images/design/btn.png") no-repeat center center;
    line-height: 40px;
    height: 41px;
    width: 129px;
    text-align: center;
    display: block;
    color: #616161;
    font-family: 'PTSerifRegular';
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.all-gall-btn,.all-sertificats-btn{
    margin-top: 16px;
    margin-left: 25px;
}
.devider-contacts-main{
    margin: 0px;
    width: 297px;
}
.user-text{
    line-height: 170%;
}
.user-text strong{
    color: #515151;
    font-weight: bold;
}
.image-main-bottom{
    margin-left: -50px;
}
.sidebar-sertificats{
    position: absolute;
    z-index: 3;
}
.sidebar-sertificats1{
    margin: 34px 0 0 33px;
    z-index: 2;
}
.sidebar-sertificats2{
    margin: 51px 0 0 66px;
    z-index: 1;
}
.sertificats-sidebar{
    display: inline-block;
}
.all-sertificats-btn{
    margin-top: 235px;
}
.sertificats-side-title{
    margin-top: 80px;
}
#content2Box{
    margin-top: 40px;
}
.image_article{
    float: left;
}
.article-item{
    display: inline-block;
    margin-bottom: 40px;
}
.article-item img{
    float: left;
}
a.article-name,.article-name{
    font-size: 14px;
    font-weight: bold;
    font-family: 'PTSerifRegular';
    text-decoration: none;
    color: #d03c35;
}
h2.article-name{
    font-size: 18px;
}
.article-short{
    width: 468px;
    float: left;
}
.thumb{
    width:130px;
    display: inline-block;
    cursor: pointer;
    margin-left: 25px;
}
.big-article-image-box{
    width: 420px;
    display: inline-block;
    vertical-align: top;
    transition: all 0.2s ease;
    position: relative;
}
.big-article-image,.big-article-image-box .zoom{
    margin: 0px !important;
}
.user-text .zoom{
    border: none;
    border-radius: 0px;
    padding: 0px;
    background-color: transparent;
}
.article-full-name{
    margin-top: 25px;
    margin-bottom: 25px;
}
.pagesTable{
    height: 30px;
    margin-top: 30px;
}
.pagesTable a,.pagesTable b,.pagesTable .pagesPoints{
    height: 24px;
    display: inline-block;
    line-height: 24px;
    background: url("/images/design/pages.jpg");
    padding: 0 9px;
    color: #595959;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    box-shadow:         1px 1px 5px rgba(50, 50, 50, 0.75);
    margin-left: 6px;
}
.pagesTable b{
    background: url("/images/design/pages-selected.jpg");
    color: white;
}
.news-single-by-pages{
    margin: 25px 0 25px 0;
}
.news-date{
    color: #5e5e5e;
    font-style: italic;
    font-size: 14px;
}
a.news-title{
    color: #d03c35;
    font-size: 14px;
    /*    font-weight: bold;*/
    text-decoration: none;
    font-family: 'PTSerifRegular';
}
.news-title-full{
    font-size: 14px;
    color:#515151;
    font-family: 'PTSerifRegular';
    font-weight: bold;
    text-transform: none;
    margin:6px 0 8px 0;
}
.news-gall-link{
    display: none;
}
.back-to-devel{
    font-size: 11px;
    float: right;
}
.don_show_image_border img{
    background-color: transparent !important;
    box-shadow: none;
}
.user-text h2,.side-bar-contacy-text h2{
    color: #515151;
    font-size: 14px;
    font-weight: bold;
}
.side-bar-contacy-text h2{
    margin-bottom: 5px;
}
.mapBox{
    width: 396px;
    display: inline-block;
}
.feedbackFormBox{
    display: inline-block;
    vertical-align: top;
}
.map-header,.feddaback-title{
    background: url("/images/design/map.png") no-repeat left center;
    padding-left: 47px;
    margin-bottom: 18px;
}
.feddaback-title{
    background: url("/images/design/message.png") no-repeat left center;
}
.request_text,.request_areaAsk{
    border-left: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    /*    border-bottom: none;
        border-right: none;*/
    font-size: 12px;
    color: #676565;
    padding: 3px 10px 3px 10px;
    border-radius: 4px;
    font-style: italic;
    font-family: 'arial';
    margin-bottom: 8px;
    width: 220px;
}
.request_areaAsk{
    height: 128px;
    resize: none;
}
.ajax-loader{
    position: absolute;
    border-radius: 6px;
    background: white url("/images/design/ajax-loader.gif") no-repeat center center;
    margin-top: 33px;
    margin-left: -8px;
    display: none;
}
.ico{
    display: inline-block;
    vertical-align: top;
}
.side-bar-contacy-text{
    display: inline-block;
    width: 230px;
    margin-left: 10px;
}